stages:
  - lint
  - build
  - tests

lint:
  tags:
    - golang182
  stage: lint
  script:
    # TODO: have golangci-lint inside of the runner image...
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1
    - golangci-lint run ./src/... ./cmd/... --verbose

build:
  tags:
    - golang182
  stage: build
  script:
    - go build -v ./cmd/

unit:
  tags:
    - golang182
  stage: tests
  script:
    - go test ./src/...
